<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Store</title>
</head>
<body>
  
  <header>
    <h1>View models</h1>
    <ul>
      <li><a href="/store">Stores</a></li>
      <li><a href="">Items</a></li>
    </ul>
  </header>

  <main>
    <h2>Add new store</h2>
    <form action='/store' method="POST">
      Name: <input type="text" name="name" placeholder="Store name">
      <button type="submit">Create Store</button>
    </form>
  </main>
</body>
</html>