<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show page</title>
</head>
<body>
  <h1>Store info page</h1>
  <p><%= store.name %> </p>

  <form action="/store/<%= store._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>

  <a href="/store/<%= store.id %>/edit ">Edit store</a>
  <a href="/store">Go back</a>
</body>
</html>