<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  
  <header>
    <h1>View models</h1>
    <ul>
      <li><a href="/store">Stores</a></li>
      <li><a href="">Items</a></li>
    </ul>
  </header>

</body>
</html>