<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Item</title>
</head>
<body>
  
  <header>
    <h1>View models</h1>
    <ul>
      <li><a href="/store">Stores</a></li>
      <li><a href="/item">Items</a></li>
    </ul>
  </header>

  <main>
    <h2>Update item</h2>
    <form action='/item/<%= item._id %>?_method=PUT' method="POST">
      Name: <input type="text" name="name" value="<%= item.name %> ">
      <button type="submit">Update Item</button>
    </form>
  </main>
</body>
</html>